/* AdminBook.css */

.admin-profile-container {
    padding: 20px;
  }
  
  .admin-profile-boxes {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  
  .admin-profile-box {
    flex: 1 1 300px;
    padding: 16px;
  }
  
  .admin-form {
    max-width: 400px;
    margin: auto;
  }
  
  .admin-autocomplete {
    margin-bottom: 16px;
  }
  
  .admin-textfield {
    margin-bottom: 16px;
  }
  