.main-container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  
  .main-heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }
  
  .main-heading p {
    font-size: 2rem;
    font-weight: bold;
  }